---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="title-header">
  <div class="header-row">
    <h1 class="site-title">
      <a href="/">
        Historical
        <span class="hero-accent">Babes</span>
      </a>
    </h1>

    <div>
      <ThemeToggle />
    </div>

    <button
      id="mobile-menu-toggle"
      class="mobile-menu-toggle"
      aria-label="Open menu"
    >
      ☰
    </button>

    <nav class="main-nav" id="main-nav">
      <a href="/">Home</a>
      <a href="/all">All Babes</a>
    </nav>
  </div>
</header>

<script>
  const menuToggle =
    document.getElementById("mobile-menu-toggle");

  const nav =
    document.getElementById("main-nav");

  menuToggle?.addEventListener("click", () => {
    nav?.classList.toggle("mobile-open");
  });
</script>
