---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="title-header">
     <h1 class="site-title">
        <a href="/">
          Historical
          <span class="hero-accent">Babes</span>
        </a>
      </h1>


    <nav class="main-nav">
      <a href="/">Home</a>
      <a href="/all">All Babes</a>
    </nav>

    <div>
        <ThemeToggle />
    </div>

</header>