---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="title-header">
    <h1>
      Historical
      <span class="hero-accent">Babes</span>
    </h1>

    <nav class="main-nav">
      <a href="/">Home</a>
      <a href="/all">All Babes</a>
    </nav>

    <div>
        <ThemeToggle />
    </div>

</header>